
.pointer-shoes{
    cursor: pointer;
    width: 100%;
    height: 10vh;
    margin-top: -70px;
}
.bprv_shoes_wrapper{
    height: 20vh;
    width: 100%;
    background-size: 150%;
    background-position:13% 97%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}
.pointer:hover .bprv_shoes_wrapper{ 
    filter: brightness(125%);
}
.pointer:hover .header-shoes{ 
   background-color: white;
}

.header-shoes{
    font-family: 'DM Serif Display', serif;
    font-size: 13px;
    height: 0px;
    width: 25%;
    margin-left:24%;
    transition: all 0.3s;
    margin-top: 0;
}
.header-shoes>hr{
    width: 100%;
    padding: 0;
    margin: 0 0 0 0px;
}
.header-shoes::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(154, 103, 0);
}
@media only screen and (max-width: 992px) {
    .pointer-shoes{
        cursor: pointer;
        width: 100%;
        height: 10vh;
        margin-top: -250px;
    }
    .bprv_shoes_wrapper{
        height: 20vh;
        width: 100%;
        background-size: 200%;
        background-position:13% 97%;
        background-repeat: no-repeat;
        transition: all 0.3s;
    }
  
  }
  @media only screen and (max-width: 768px) {
    .header-shoes{
        font-family: 'DM Serif Display', serif;
        font-size: 9px;
        width: 60%;
        margin-left:24%;
        transition: all 0.3s;
        margin-top: 0;
    }
    .pointer-shoes{
        cursor: pointer;
        width: 100%;
        height: 10vh;
        margin-top: -250px;
    }
    .bprv_shoes_wrapper{
        height: 20vh;
        width: 120%;
        margin-top: -7vh;
        background-size: 200%;
        background-position:13% 97%;
        background-repeat: no-repeat;
        transition: all 0.3s;
    }
  
  }
