.bprv_tie_wrapper{
    height:50vh;
    width: 100%;
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 49% 0;
    transition: all 0.3s;

}
.pointer:hover .bprv_tie_wrapper{
    filter: brightness(120%);
}
.pointer:hover .header{
    background-color: white;
}