.bprv_tie_wrapper{
    height:50vh;
    width: 100%;
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 49% 0;
    transition: all 0.3s;

}
.pointer:hover .bprv_tie_wrapper{
    filter: brightness(120%);
}
.pointer:hover .header{
    background-color: white;
}
@media only screen and (max-width: 768px) {
    .bprv_tie_wrapper{
        height:10vh;
        width: 220%;
        background-size: 300%;
        background-repeat: no-repeat;
        background-position: 49% -6px;
        transition: all 0.3s;
    
    }
  }