.shirts-wrapper{
        height: 400px;
        position: absolute;
        z-index: 13;
}
.shirts-wrapper>img{
    height: 100%;
}
.shirts-collar-wrapper{
    height: 400px;
    position: absolute;
    z-index: 25;
}
.shirts-collar-wrapper>img{
height: 100%;
}