.header-container{
    margin-top: 35px;
    margin-bottom: .3rem;
    cursor: pointer;
    padding: 16px;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.45px;
}