.up{
    height: 40vh;
    margin-top: -50px;
    margin-left:4%;
}

.bprv_shirt_wrapper{
    height: 60vh;
    width: 100%;
    background-size: 120%;
    background-position:49% -5px;
    background-repeat: no-repeat;
    transition: all 0.3s;
} 
.pointer:hover .bprv_shirt_wrapper{
    filter: brightness(105%);
}
.pointer:hover .header-up{
    background: white;
}
.header-up{
    font-family: 'DM Serif Display', serif;
    font-size: 13px;
    width:15% ;
    margin-left: 43%;
    transition: all 0.3s;
}
.header-up>hr{
    width: 100%;
    margin: 0 0 0 0;
}
.header-up::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(154, 103, 0);
}
@media only screen and (max-width: 768px) {
    .header-up{
        font-size: 9px;
        width: 50%;
        margin-left: 23%;
        margin-top: 15px;
    }
  }