.pointer-socks{
    cursor: pointer;
}
.bprv_socks_wrapper{
  height:50vh;
  width: 100%;
  background-size: 450% ;
  background-repeat: no-repeat;
  background-position:5% -40px;
  transition: all 0.3s;
  
}
.pointer-socks:hover .bprv_socks_wrapper{
    filter: brightness(115%);
}
.pointer-socks:hover .header{
    background-color: white;
}

.header{
    font-family: 'DM Serif Display', serif;
    font-size: 13px;
    width: 50%;
    margin-left:27%;
    transition:  all 0.3s;
}
.header>hr{
    width: 100%;
    padding: 0;
    margin: 0 0 0 0px;
}
.header::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(154, 103, 0);
}