.pointer-belt{
    cursor: pointer;
    width: 100%;
    height: 10vh;
    margin-left: -20px;
}
.bprv_belt_wrapper{
    height:100%;
    width: 100%;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position:70% 95%;
    transition: all 0.3s;
}
.pointer:hover .bprv_belt_wrapper{
    filter: brightness(115%);
}
.pointer:hover .header-belt{
    background-color:white;
}
.header-belt{
    margin-top: -10px;
    font-family: 'DM Serif Display', serif;
    font-size: 13px;
    width: 70%;
    margin-left:13%;
    transition: all 0.3s;
}
.header-belt>hr{
    width: 100%;
    padding: 0;
    margin: 0 0 0 0px;
}
.header-belt::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(154, 103, 0);
}

@media only screen and (max-width: 992px) {
    
  
  }

  @media only screen and (max-width: 768px) {
    .img-wrapper{
        margin-left: 20%;
    }
  }